.verizon-case-phone {
  width: 100%;
}

.BraveAdsPerformanceBox:nth-child(1) {
  margin-bottom: 1rem;
}

#case-splash {
  background: url(../images/case-verizon-splash.jpg);
  background-size: cover;
  background-position: 50%;
}

#splash-img {
  position: absolute;
  height: 650px;
  right: 0px;
  top: 0px;
  z-index: 0;
}

.generic-wrapper {
  padding: .5rem;
}

.blackcard-table {
  background: black;
  color: white;
  max-width: 860px;
  padding: 3rem;
  margin: auto;
  border-radius: .75rem;
}

.blackcard-table table {
  background: black;
  color: white;
  border-spacing: 0;
}

.blackcard-table h2 {
  color: white;
}

.blackcard-table tr {
  padding-top: 2rem;
}

.blackcard-table td {
  border-bottom: 1px solid #D52B1E;
  margin: 0;
  vertical-align: top;
  padding-top: 2rem;
}

.blackcard-table table li {
  margin-bottom: 2rem;
  color: white;
  margin-top: -1rem;
}

@media (max-width: 808px) {
  .verizon-case-phone:nth-of-type(1) {
    display: none;
    width: auto;
}
}

@media (max-width: 525px) {
  #verizon-table-logo {
    display: none;
  }
}

@media (max-width: 420px) {
  .blackcard-table tr {
    display: grid;
    grid-template-columns: 1fr;
  }
  .blackcard-table td {
    border-bottom: none;
  }
}

@media (max-width: 375px) {
  section#case-splash .BraveAdsPerformanceBox p.stat-value {
    font-size: 2rem;
  }
}