#secondary-splash {
  position: relative;
  background-image: /*linear-gradient(to bottom, rgba(245, 246, 252, 0.0) 45%, rgba(218, 76, 140, .75) 100%), */
  url('../images/casestudies-stars3.jpg');
  background-size: cover;
  background-position: center;
  padding-top: 7.5rem;
}

#secondary-splash .sectionTitle h1 {
  font-size: 3rem;
  color: white;
  margin: 0;
}

#secondary-splash .sectionTitle p {
  font-size: 1.5rem;
  color: white;
  margin: 0;
  line-height: 2.5rem;
}

.casestudies-contentWrapper {
  max-width: 960px;
  margin: auto;
  padding: 0 3rem 0 3rem;
}

#casestudies {
  padding-bottom: 2rem;
}

#casestudies h1 {
  text-align: center;
  font-weight: 600;
}

.casestudies-sectionTitle {
  color: white;
}

.bigstats div {
  display: inline-block;
  margin-bottom: 2rem; 
}

.bigstats {
  margin-top: 3rem;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 6.5rem;
  /* font-size: 7vw; */
  text-align: center;
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr; original */
  grid-template-columns: repeat( auto-fit, minmax(200px, 1fr));
  font-weight: 500;
  column-gap: 2rem;
  padding-bottom: 4.5rem;
}

.bigstats p {
  color: white;
  font-size: 1.25rem;
  margin: 0;
}

#casestudies h1 {
  margin: 0;
}

#casestudies h2 {
  margin: 0;
  display: inline-block;
  color: white;
  font-weight: 600;
  font-size: .85rem;
  padding: .3rem .56rem .3em .75rem;
  border: none;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  letter-spacing: .025rem;
}

.section-title-formatted {
  margin-bottom: 3rem;
  margin-top: 1rem;
}

.section-title-formatted h3 {
  color: rgb(174, 174, 174);
  text-align: center;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.35rem;
  font-size: 1.4rem;
  margin: 0 0 .5rem 0;
}

#casestudies-wrapper {
  margin: auto;
  padding: .1rem 2rem 0 2rem;
  margin-top: -5rem;
}

.card-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: auto;
  max-width: 960px;
  row-gap: .5rem;
  column-gap: 1rem;
}

.case-study-card {
  margin: auto;
  margin-bottom: 1.5rem;
  max-width: 420px;
}

.case-study-card-top {
  margin-bottom: -10px;
  overflow: none;
}

.case-study-card-top img {
  margin: 0;
  border-radius: 5px 5px 0 0;
  filter: brightness(105%);
  box-shadow: 0px 5px 10px 1px rgba(34, 56, 101, 0.07);
}

.case-study-card-top img:hover {
  cursor: pointer;
}

.case-study-card-bottom {
  /* background: linear-gradient(to right, rgb(113, 45, 153) 0%, rgb(229, 66, 169) 100%); */
  background: #838399;
  background: linear-gradient(to right, #9e38d9 30%, rgb(229, 66, 169) 100%);
  padding-top: .55rem;
  padding-bottom: .1rem;
  padding-right: .25rem;
  text-align: left;
  box-shadow: 0px 12px 18px -6px rgba(34,56,101,0.1);
  border-radius: 0 0 5px 5px;
  text-align: right;
}

.case-study-card-bottom.coming-soon {
  background: #b1b1b9;
}

.case-study-card-bottom.coming-soon:hover {
  background: #b1b1b9;
}

.case-study-card-bottom:hover {
  background: #838399;
  cursor: pointer;
}

.case-study-card-bottom p {
  line-height: auto;
  margin: 0;
}

.case-study-card-bottom button {
  display: none;
}

.casestudies-readmore {
  color: white;
  background: #4b4b59;
  font-weight: 600;
  font-size: .8rem;
  padding: .3rem .4rem .3em .75rem;
  border: none;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: inline-block;
}

.card-container img.readmore-arrow {
  display: inline-block;
  width: auto;
  margin-right: .65rem;
  margin-bottom: -1px;
}

.card-container img{
  width: 100%;
}

.case-study-card.empty-slot {
  border: 4px gray dotted;
  border-radius: 6px;
  height: 350px;
}

#casestudies-page #testimonialsBG {
  background-image: url('../images/casestudies-stars3.jpg');
  background-position: top;
  background-size: cover;
  background-attachment: fixed;
  height: 300px;
}

#testimonials {
  top: -250px;
}

.quoteBox {
  padding-top: 2rem;
}

.brandLogos img {
  height: 40px;
  opacity: 1;
  filter: grayscale(0);
}

/* Responsivenesss */

@media(max-width: 920px){
  .bigstats {
    margin-left: 0rem;
    margin-right: 0rem;
    margin-top: 3rem;
    grid-row-gap: 1rem;
  }

  .bigstats p {
    color: white;
    margin: 0 1rem 0 1rem;
  }
}

@media(max-width: 840px){
  .bigstats {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5rem;
  }

  #secondary-splash {
    background-position: top;
  }
}

@media(max-width: 800px){
  .card-container{
      grid-template-columns: 1fr 1fr;
      width: auto;
  }

  #secondary-splash {
    background-position: left;
  }
}

@media(max-width: 600px){
  .card-container{
      grid-template-columns: 1fr;
      column-gap: 2rem;
  }

  #secondary-splash .sectionTitle h1 {
    font-size: 2.3rem;
  }

  .bigstats {
    margin-top: 2.85rem;
    font-size: 5.5rem;
  }
}

@media(max-width: 425px){ 
  .bigstats {
    font-size: 4rem;
  }
}

@media(max-width: 375px){

  #secondary-splash .sectionTitle h1 {
    font-size: 2rem;
  }

  #secondary-splash .sectionTitle p {
    font-size: 1.25rem;
  }

  .bigstats {
    margin-top: 1.5rem;
    /* font-size: 3.75rem; */
  }
}


@media(max-width: 320px){
  #secondary-splash .sectionTitle p {
    font-size: 1.2rem;
  }
}