#casestudies-splash {
  position: relative;
  background: url("../images/casestudies-stars2.jpg");
  background-size: cover;
  background-position: center;
  padding-top: 9rem;
  min-height: 420px;
}

#casestudies-splash .sectionTitle h1 {
  font-size: 3rem;
  color: white;
  margin: 0;
}

#casestudies-splash .sectionTitle p {
  font-size: 1.5rem;
  color: white;
  margin: 0;
}

.casestudies-contentWrapper {
  max-width: 960px;
  margin: auto;
}

#casestudies {
  background: rgb(245, 245, 245);
  padding-bottom: 2rem;
}

#casestudies h1 {
  font-weight: 600;
}

.casestudies-sectionTitle {
  color: white;
}

.bigstats {
  margin-top: 3rem;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 6rem;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.bigstats p {
  color: white;
  font-size: 1.25rem;
  margin: 0;
}

#casestudies h1 {
  margin: 0;
}

#casestudies-wrapper {
  width: 960px;
  margin: auto;
  padding-top: 2rem;
}

.card-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: auto;
}

.case-study-card {
  margin: .25rem;
  max-width: 300px;
  margin-bottom: 1.5rem;
}

.case-study-card-top {
  margin-bottom: -10px;
  overflow: none;
}

.case-study-card-top img {
  margin: 0;
  border-radius: 6px 6px 0 0;
  max-height: 200px;
  width: 300px;
  filter: brightness(110%);
}

.case-study-card-bottom {
  background: white;
  padding: 1.5rem;
  text-align: left;
  box-shadow: 0px 12px 18px -6px rgba(34,56,101,0.1);
  border-radius: 0 0 6px 6px;
  height: 150px;
}

.case-study-card-bottom p {
  line-height: auto;
  margin: 0;
}

.card-container img{
  width: 100%;
}

.case-study-card.empty-slot {
  border: 4px gray dotted;
  border-radius: 6px;
  height: 350px;
}

@media(max-width: 800px){
  .card-container{
      grid-template-columns: 1fr 1fr;
      width: auto;
  }
}
