.verizon-case-phone {
  width: 100%;
}

#case-splash {
  background: url(../images/case-verizon-splash.jpg);
  background-size: cover;
}

#splash-img {
  position: absolute;
  height: 650px;
  right: 0px;
  top: 0px;
  z-index: 0;
}

.blackcard-table {
  background: black;
  color: white;
  max-width: 860px;
  padding: 3rem;
  margin: auto;
  border-radius: .75rem;
}

.blackcard-table table {
  background: black;
  color: white;
  border-spacing: 0;
}

.blackcard-table h2 {
  color: white;
}

.blackcard-table th, td {
  border-bottom: 1px solid #D52B1E;
  margin: 0;
}

.blackcard-table table li {
  margin-bottom: 1rem;
  color: white;
}

@media (max-width: 1010px) {
  #splash-img {
    left: 200px;
  }
}