/* Ad-hoc CSS for Culprit Case Study */

#case-splash {
  background: linear-gradient(135deg, #88c94478 30%, #83bf9d00 100%), url(../images/case-etoro-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: 42%;
  background-color: #6232ca;
}

#splash-img {
  width: 350px;
  position: relative;
  bottom: 120px;
  left: 55%;
  z-index: 0;
}

@media (max-width: 965px) {

  #splash-img {
    height: 200px;
    left: 55%;
    bottom: 140px;
  }
}

@media (max-width: 768px) {
  #splash-img {
    height: 185px;
    bottom: 125px;
    left: 60%;
  }
}

@media (max-width: 675px) {

  #case-splash {
    background-size: cover;
    background-position: top center;
  }

  #splash-img {
    display: none;
  }
}