/* Ad-hoc CSS for Culprit Case Study */

#case-splash {
  background: linear-gradient(to bottom, #ff572226 65%, #fb542b00 100%), url(../images/culprit-splash.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: 75%;
  background-color: #FB542B;
}

@media (max-width: 620px) {

  #case-splash {
    background-size: cover;
  }
}

