/* Common case studies CSS */
/* Apple gradient linear-gradient(150deg, #359cd7 10%, #7d6efb 100%) */

#case-splash {
  position: relative;
  /* padding-top: var(--nav-bar-height); */
  min-height: 460px;
}

.case-contentWrapper {
  max-width: 960px;
  margin: auto;
}

hr {
  max-width: 700px;
  border: 0;
  height: 1px;
  background: rgb(191, 191, 191);
}

blockquote {
  font-size: 1.2rem;
  line-height: 2.5rem;
  font-weight: lighter;
}

blockquote strong {
  color: #1E2029;
} 

section.case-firstQuote {
  max-width: 780px;
  margin: auto;
  margin-top: 2rem;
  text-align: center;
  color: #84889C;
}

section.case-content {
  max-width: 960px;
  margin: auto;
  margin-top: 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5rem;
}

section.case-content .case-description p {
  line-height: 1.85rem;
  widows: 6;
  orphans: 6;
}

section.case-content .BraveAdsPerformanceBox {
  background: white;
  border-radius: 16px;
  box-shadow: 0px 0px 20px 4px rgba(223, 223, 223, 0.35);
  padding: 3.5rem;
  padding-bottom: 2rem;
}

section.case-content .BraveAdsPerformanceBox  ul {
  padding: 0;
  margin-top: 2.75rem;
}

section.case-content .BraveAdsPerformanceBox  li img {
  margin-bottom: -28px;
  margin-right: 1rem;
}

section.case-content h1, h2 {
  display: inline;
}

section.case-content .BraveAdsPerformanceBox li {
margin-bottom: 2.25rem;
}

section.case-content .BraveAdsPerformanceBox li .stat-title { 
  color: #FB542B;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  margin: 0;
}

section.case-content .BraveAdsPerformanceBox li .stat-value { 
  color: #373843;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  margin: .2rem 0 1.5rem 0;
  padding-left: 3.5rem;
}

section.case-secondQuote {
  background: linear-gradient(150deg, #359cd7 10%, #7d6efb 100%);;
  margin-top: 5rem;
}

section.case-secondQuote blockquote {
  max-width: 960px;
  margin: auto;
  color: white;
  padding: 6rem 0 6rem 0;
  text-align: center;
}

section.case-whois {
  max-width: 960px;
  margin: auto;
}



