/* header */

.header {
  background-color: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
  position: fixed;
  width: 100%;
  z-index: 3;
  font-weight: 600;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

.header li a {
  display: block;
  padding: 20px;
  text-decoration: none;
  line-height: 2.75rem; 
  margin-right: 1.25rem;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 16px;
}

/* .header li a:hover {
  box-shadow: inset 0 0 0 2pt var(--brave-orange);
}

.header li a.active {
  box-shadow: inset 0 0 0 2pt var(--brave-orange);
} */

.header #logo {
  float: left;
  padding: 20px 20px;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .5s;

}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  float: right;
  padding: 20px 20px;
  margin-top: 16px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: var(--brave-orange);
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: var(--brave-orange);;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

@media (min-width: 768px) {

  #navBarStartNow {
    display: inline-block;
  }

  #navBarStartNow-text {
    display: none;
  }

  .header li {
    float: left;
  }
  .header li a {
    padding: 13px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}

@media (max-width: 768px) {
  .header .menu {
    box-shadow: 0px 8px 16px -8px rgba(0,0,0,0.1);
  }

  .header .menu li a {
    color: var(--brave-orange);
    background-color: white;
    border-top: 1px rgb(240, 240, 240) solid;
    width: 100%;
    padding: .85rem 0 .85rem 1.65rem;
  }

  .header .menu li a:hover {
    background-color: rgb(240, 240, 240);
    transition: 0.3s;
  }
}
